{% extends "base.html" %}

{% load static %}

	{% block title %}Topics{% endblock %}

    {% block content %}
        <div class="container p-4">
            <h2 class="text-center font-weight-bold">Topic : {{topic.name}}</h2>
        </div>
        <div class="container">
            <div class="card m-4 p-4">
                <div class="card-body">
                    <div class="justify-content-center">
                        <p>topic name : {{topic.name}}</p>
			<p>topic creator : {{topic.topic_creator}}</p>
            <p>topic followers : {{topic.total_followers}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

	