{% extends "base.html" %}

{% load static %}

	{% block title %}{{room.name}}{% endblock %}

	{% block content %}
		<div class="container" style="text-align: center;">
			<div class="card text-center mt-5" style="width: 90%;">
				<h5 class="card-header text-white bg-dark">{{room.name}}</h5>
				<div class="card-body">
					<div class="card-text">
						<p>{{room.description}}</p>
						<p style="margin-top: 20px; text-align: left;">#{{room.topic.name}}</p>
					</div>
				</div>
				<div class="card-footer text-muted">
				<p>made by: {{room.creator}} at {{room.created}}</p>
				</div>
			</div>
		</div>

		<div class="card" style="margin-top: 80px;">
			<h5 class="card-header">
			  Comments
			</h5>
			<div class="card-body">
			  <p class="card-title">no comment</p>
			</div>
		  </div>
	{% endblock %}