<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">Roompy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Room</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">All Rooms</a>
          <a class="dropdown-item" href="#">Trending Rooms</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topic</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/topics/all-topic">All Topics</a>
          <a class="dropdown-item" href="/topics/trending-topic">Trending Topics</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">All Users</a>
          <a class="dropdown-item" href="/users/top-users">Top Users</a>
        </div>
      </li>
    </ul>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a href="/profile"><span class="navbar-text">{{ user }}</span></a>
    </li>
    <li class="nav-item">
      <a href="/logout"><span class="navbar-text">logout</span></a>
    </li>
    {% endif %}
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a href="/login"><span class="navbar-text">login</span></a>
    </li>
    {% endif %}
  </div>
</nav>