<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold mx-3" href="/">Roompy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item mx-3">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown mx-1">
        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Room</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/rooms">All Rooms</a>
          <a class="dropdown-item" href="/rooms/trending-rooms">Trending Rooms</a>
        </div>
      </li>
      <li class="nav-item dropdown mx-1">
        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topic</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/topics/all-topic">All Topics</a>
          <a class="dropdown-item" href="/topics/trending-topic">Trending Topics</a>
        </div>
      </li>
      <li class="nav-item dropdown mx-1">
        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/users">All Users</a>
          <a class="dropdown-item" href="/users/top-users">Top Users</a>
        </div>
      </li>
    </ul>
    {% if user.is_authenticated %}
      <a href="/profile"><span class="navbar-text mx-3">{{ user }}</span></a>
      <a href="/logout"><span class="navbar-text mx-3">Logout</span></a>
    {% else %}
      <a href="/register"><span class="navbar-text mx-3">Register</span></a>
      <a href="/login"><span class="navbar-text mx-3">Login</span></a>
    {% endif %}
  </div>
</nav>